* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
}
section {
    margin: 20px;
}
.taskbtn {
    width: 177px;
    height: 51px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: brown;
    position: relative;
  }

  .taskbtn a {
    text-decoration: none;
    color: white;
  }
ul{
    color: red;
    margin-left: 20px;
}
.color-blue{
    color: blue;
}
#color-green{
    color: green;
}
.external-para{
    color: blue;
}
.taskbtn {
    width: 177px;
    height: 51px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: brown;
    position: relative;
  }

  .taskbtn a {
    text-decoration: none;
    color: white;
  }