* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: var(--regularFontWeight);
  text-decoration: none;
}
.container {
  /* border: 1px solid black; */
}
/* ==============================      global button style     =====================================================  */
.btn {
  background-color: var(--btnBgColor);
  border-radius: 5px;
  border: none;
  font-weight: var(--boldFontWeight);
  color: white;
}

/* global card style   */
.section-cards {
  display: flex;
  text-align: center;
  gap: 30px;
}
.card {
  border-radius: 5px;
  padding: 32px;
}
.card-heading {
  font-size: 20px;
  font-weight: var(--boldFontWeight);
  margin: 24px 0px;
  line-height: 24.8px;
}
.card-info {
  font-size: var(--globalFontSize);
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
}
.card-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0, 0, 0, 0.05);
}

/* Header begins here  */
.fixed-header {
  position: sticky;
  top: 0px;
  z-index: 99;
}
.bg {
  background-color: #f5faff;
}
header {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
  font-size: var(--globalFontSize);
  line-height: 17.36px;
  font-weight: var(--regularFontWeight);
  position: sticky;
  top: 0px;
  /* background-color: #f5faff; */
}
.header-ul {
  display: flex;
  align-items: center;
}
#header-nav-bar {
  column-gap: 56px;
}
#headerlogo {
  margin-right: 16px;
}
#header-logo-section {
  display: flex;
  align-items: center;
}
#header-btn {
  padding: 12px 24px;
}
#header-signin-section {
  gap: 64px;
}

/* top section begins here  */
section#top-section {
  display: flex;
  padding-top: 160px;
}
#top-section-content {
  width: 50%;
}
#top-section-heading {
  line-height: 65px;
  font-size: 48px;
  margin-bottom: 32px;
  font-weight: var(--boldFontWeight);
}
#top-section-para {
  font-size: var(--contentFontSize);
  font-weight: var(--globalFontSize);
  line-height: 24px;
  width: 92%;
}
#top-section-btn-section {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 60px;
}
#top-section-btn {
  padding: 16px 32px;
  line-height: 22.32px;
  font-size: 18px;
}
#top-section-dashboard {
  width: 70%;
  margin-bottom: -56px;
}
#top-section-dashboard-img {
  width: 100%;
}
#top-section-link {
  color: #268be7;
  font-size: 18px;
  font-weight: var(--boldFontWeight);
  line-height: 22px;
  margin-left: 16px;
}

/* Features section  */
section#features-section {
}
.features-section-heading {
  text-align: center;
  font-size: var(--sectionHeadingFontSize);
  font-weight: var(--boldFontWeight);
  line-height: 44.65px;
  padding: 77px 0px;
}
#essential-features-panel-box {
  display: flex;
}
#essential-features {
  width: 38%;
}
.essential-feature {
  border-radius: 5px;
  padding: 32px;
}
.essential-feature-heading {
  font-weight: var(--boldFontWeight);
  font-size: 20px;
  line-height: 24.8px;
  margin-bottom: 12px;
}
.essential-feature-info {
  font-size: var(--globalFontSize);
  line-height: 21px;
  color: #4e4e4e;
}
#feature-shadow {
  box-shadow: 10px 15px 12px 0px #0000000d;
}
#essential-features-panel {
  width: 62%;
}
#feature-section-cards {
  margin: 47px 0px 95px 0px;
}

/* Future Section begins here  */
section#future-section {
  /* padding: 0% 10%; */
}
#future-section-internal-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#future-section-management-illustration {
  /* padding: 4%; */
  padding: 45px;
  width: 50%;
  position: relative;
}
.br-50 {
  border-radius: 50%;
}
.asp-ratio {
  aspect-ratio: 1/1;
}
#a {
  /* padding: 12% 12% 12% 12%; */
  /* padding: 5%; */
  padding: 25px;
  position: relative;
  right: 10%;
}
#b {
  /* padding: 21%; */
  padding: 89px;
  border: 1px solid rgba(173, 216, 255, 1);
}
#c {
  /* padding: 4%; */
  padding: 9px;
  border: 1px solid rgba(173, 216, 255, 1);
}
#d {
  /* padding: 4%;  */
  padding: 11px;
  box-shadow: 0px 0px 10px 0px rgb(38 138 230 / 15%);
}
#futute-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}
.future-icon-wrapper {
  /* display: inline-block; */
  padding: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.setting-icon {
  background-color: #f1d023;
  top: 7%;
  left: 35%;
  box-shadow: 0px 20px 40px 0px #F1D02333;

}
.shop-icon {
  background-color: #27ae60;
  top: 28%;
  right: 19%;
  box-shadow: 0px 20px 40px 0px #27AE6033;

}
.chat-icon {
  background-color: #3097f5;
  bottom: 16%;
    right: 25%;
    box-shadow: 0px 20px 40px 0px #268AE633;

}
.promotion-icon {
  background-color: #27ae60;
  bottom: 16%;
    left: 8%;
    box-shadow: 0px 20px 40px 0px #27AE6033;

}
.checklist-icon {
  background-color: #3097f5;
  top: 28%;
  left: 2%;
  box-shadow: 0px 20px 40px 0px #268AE633;

}
.pos-abs {
  position: absolute;
}

#future-section-content {
  width: 49%;
  margin: auto;
}
#future-section-content-heading {
  font-size: var(--sectionHeadingFontSize);
  font-weight: var(--boldFontWeight);
  line-height: 45px;
}
#future-section-content-info {
  font-size: var(--contentFontSize);
  margin-top: 40px;
  line-height: 30px;
}

/* More features section starts here  */

#more-feature-section-cards {
  margin: 47px 0px 95px 0px;
}

/* Testimonial section begins here  */
#testimonial-section-heading {
  font-size: var(--sectionHeadingFontSize);
  text-align: center;
  line-height: 30px;
  font-weight: var(--boldFontWeight);
}
#testimonial-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 60px;
}
.testimonial-card {
  padding: 40px;
  /* border: 1px solid black; */
  width: 41%;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.testimonial-card-content {
  font-size: var(--contentFontSize);
  line-height: 30px;
  padding: 24px 0px;
}
.testimonial-card-author {
  font-weight: var(--boldFontWeight);
  font-size: var(--contentFontSize);
  line-height: 19.84px;
}
.testimonial-pagination {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 38px;
}
.pagination-arrow {
  background-color: white;
  border-radius: 74px;
  width: 56px;
  height: 56px;
  /* border: 1px solid #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

/* client section begins here  */
.client-section {
  display: flex;
  padding: 8.7% 0% 10.5% 0%;
}
.client-section-content {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.client-logo-group {
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.client-content-heading {
  font-weight: var(--boldFontWeight);
  font-size: var(--sectionHeadingFontSize);
  line-height: 45px;
}
.client-content-info {
  font-size: 18px;
  line-height: 30px;
  width: 73%;
}
.logogroup-row {
  display: flex;
  gap: 18px;
  width: 100%;
}
.client-row1 {
  justify-content: flex-end;
}
.client-row2 {
  justify-content: center;
}
.client-card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158.66px;
  height: 142.35px;
}
.sleek-card {
  background: #27ae60;
}
.hollow-card {
  background: #2148d1;
}
.proudcloud-card {
  background: #1c1c7d;
}
.nero-card {
  background: #f1d023;
}
.fresco-card {
  background: #000000;
}

/* Get started section begins here  */
#get-started-section {
  background-color: rgba(4, 42, 116, 1);
  padding: 86px 0px;
  margin-top: 80px;
}
#get-started-section-heading {
  font-size: var(--sectionHeadingFontSize);
  font-weight: var(--boldFontWeight);
  text-align: center;
  line-height: 44.65px;
  color: white;
}
#get-started-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
  margin-top: 56px;
}
.get-started-btn {
  padding: 20px 40px;
  font-size: 16px;
  line-height: 19.84px;
}
#trial_btn {
  background-color: rgba(4, 42, 116, 1);
  border: 1px solid white;
}

/* footer begins here  */
footer {
  padding: 64px 0px;
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
#footer-address-ul {
  width: 24%;
}
#footer-address {
  line-height: 24px;
  margin-bottom: 4px;
}
.footer-contact {
  line-height: 24px;
}
.footer-col-head {
  font-size: var(--contentFontSize);
  font-weight: var(--boldFontWeight);
  line-height: 20px;
  margin-bottom: 8px;
}
.footer-col-item {
  font-size: var(--contentFontSize);
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
}

.test {
  position: absolute;
}
.circle1 {
  top: 72px;
  left: 64px;
}
.circle2 {
  top: 160px;
  left: 158px;
}
