/* =======================================  Variables ================================================================= */

:root {
  --regularFontWeight: 400;
  --boldFontWeight: 700;
  --section-heading-font:36px;
}

/* ===================================   Universal Style ============================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: var(--regularFontWeight);
  text-decoration: none;
}
li{
  cursor: pointer;
}

/* ==============================  Global button style ==============================================================  */

.global-btn-style {
  background-color: #3097f5;
  border-radius: 5px;
  border: none;
  font-weight: var(--boldFontWeight);
  color: white;
  cursor: pointer;
}

/* ==============================  Global card style  ================================================================= */

.section-cards {
  display: flex;
  text-align: center;
  gap: 30px;
}
.card {
  border-radius: 5px;
  padding: 32px;
  width: 25%;
}
.card-heading {
  font-size: 20px;
  font-weight: var(--boldFontWeight);
  margin: 24px 0px;
  line-height: 24.8px;
}
.card-info {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
}
.card:hover {
  box-shadow: 0px 40px 60px 0px rgba(0, 0, 0, 0.05);
}

/* =================================   Header Section   ==============================================================  */

.desktop-visibility{
  display: block;
}
.mobile-visibility{
  display: none;
}
.header-btn-mobile {
  padding: 12px 24px;
  background-color: #F5FAFF;
  border: 1px solid #3097f5;
  color: #3097f5;
}
.fixed-header {
  position: sticky;
  top: 0px;
  z-index: 99;
}
.header-bg {
  background-color: #f5faff;
}
header {
  display: flex;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 17.36px;
}
.header-ul {
  display: flex;
  align-items: center;
}
.header-nav-bar {
  column-gap: 56px;
}
.headerlogo {
  margin-right: 16px;
}
.header-logo-section {
  display: flex;
  align-items: center;
}
.header-btn {
  padding: 12px 24px;
}
.header-signin-section {
  gap: 64px;
}

/*============================================== Top Section  ===========================================================*/

section.top-section {
  display: flex;
  padding-top: 160px;
}
.top-section-content {
  width: 50%;
}
.top-section-heading {
  line-height: 65px;
  font-size: 48px;
  margin-bottom: 32px;
  font-weight: var(--boldFontWeight);
}
.top-section-para {
  font-size: 16px;
  line-height: 24px;
  width: 92%;
  color: rgba(0, 0, 0, 0.7);
}
.top-section-btn-section {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 60px;
}
.top-section-btn {
  padding: 16px 32px;
  line-height: 22.32px;
  font-size: 18px;
}
.top-section-explore-demo{
  display: flex;
  gap: 16px;
}
.top-section-link {
  color: #268be7;
  font-size: 18px;
  font-weight: var(--boldFontWeight);
  line-height: 22px;
}
.top-section-dashboard {
  width: 70%;
  margin-bottom: -56px;
}
.top-section-dashboard-img {
  width: 100%;
}



/*============================================= Features section  ==========================================================================*/

.features-section-heading {
  text-align: center;
  font-size: var(--section-heading-font);
  font-weight: var(--boldFontWeight);
  line-height: 44.65px;
  padding: 77px 0px;
}
.essential-features-panel-box {
  display: flex;
}
.essential-features {
  width: 38%;
}
.essential-feature {
  border-radius: 5px;
  padding: 32px;
}
.essential-feature:hover{
  box-shadow: 10px 15px 12px 0px #0000000d;
}
.feature-dashboard{
  display: none;
}
.feature-dashboard-img{
 width: 100%; 
}
.essential-feature-heading {
  font-weight: var(--boldFontWeight);
  font-size: 20px;
  line-height: 24.8px;
  margin-bottom: 12px;
}
.essential-feature-info {
  font-size: 14px;
  line-height: 21px;
  color: #4e4e4e;
}
.essential-features-panel {
  width: 62%;
}
.feature-section-cards {
  margin: 47px 0px 95px 0px;
}

/*================================================ Future Section  =========================================================================*/

.future-section-internal-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.future-section-management-illustration {
  width: 50%;
  position: relative;
  padding: 7%;
}
.br-50 {
  border-radius: 50%;
}
.asp-ratio {
  aspect-ratio: 1/1;
}
.b {
  position: relative;
  border: 1px solid rgba(173, 216, 255, 1);
  padding: 22%;
}
.c {
  border: 1px solid rgba(173, 216, 255, 1);
  padding: 4%;
}
.d {
  box-shadow: 0px 17px 14px 0px rgb(38 138 230 / 13%);
  padding: 4%;
}
.futute-section-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.future-icon-wrapper {
  padding: 10px;
  width: calc(var(--size)*2);
  height: calc(var(--size)*2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.move-icon{
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  transform: rotate(var(--angle)) translate(var(--radius)) rotate(calc(-1 * var(--angle)));
  --radius:210px;
  --size:32px;
}
.setting-icon {
  background-color: #f1d023;
  box-shadow: 0px 20px 40px 0px #f1d02333;
  --angle: -90deg;
}
.shop-icon {
  background-color: #27ae60;
  box-shadow: 0px 20px 40px 0px #27ae6033;
  --angle: -18deg;
}
.chat-icon {
  background-color: #3097f5;
  box-shadow: 0px 20px 40px 0px #268ae633;
  --angle: 54deg;
}
.promotion-icon {
  background-color: #27ae60;
  box-shadow: 0px 20px 40px 0px #27ae6033;
  --angle: 126deg;
}
.checklist-icon {
  background-color: #3097f5;
  box-shadow: 0px 20px 40px 0px #268ae633;
  --angle: -162deg;
}
.pos-abs {
  position: absolute;
}
.future-section-content {
  width: 50%;
  margin: auto;
}
.future-section-content-heading {
  font-size: var(--section-heading-font);
  font-weight: var(--boldFontWeight);
  line-height: 45px;
}
.future-section-content-info {
  font-size: 16px;
  margin-top: 40px;
  line-height: 30px;
}

/*============================== More Features section  ============================================================== */

.more-feature-section-cards {
  margin: 47px 0px 95px 0px;
}
.cloud-icon{
  height: 56px;
  width: 56px;
}


/*====================================== Client Section  ==============================================================*/

.client-section {
  display: flex;
  padding: 8.7% 0% 10.5% 0%;
}
.client-section-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.client-logo-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.client-content-heading {
  font-weight: var(--boldFontWeight);
  font-size: var(--section-heading-font);
  line-height: 45px;
}
.client-content-info {
  font-size: 18px;
  line-height: 30px;
  width: 73%;
}
.logogroup-row {
  display: flex;
  gap: 18px;
  width: 100%;
}
.client-row1 {
  justify-content: flex-end;
}
.client-row2 {
  justify-content: flex-start;
}
.client-card {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158.66px;
  height: 142.35px;
}
.sleek-card {
  background: #27ae60;
}
.hollow-card {
  background: #2148d1;
}
.proudcloud-card {
  background: #1c1c7d;
}
.nero-card {
  background: #f1d023;
}
.fresco-card {
  background: #000000;
}

/*================================ Testimonial Section  ================================================================*/

.testimonial-section-heading {
  font-size: var(--section-heading-font);
  text-align: center;
  line-height: 30px;
  font-weight: var(--boldFontWeight);
}
.testimonial-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 60px;
}
.testimonial-card {
  padding: 40px;
  width: 41%;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.testimonial-card-content {
  font-size: 16px;
  line-height: 30px;
  padding: 24px 0px;
}
.testimonial-card-author {
  font-weight: var(--boldFontWeight);
  font-size: 16px;
  line-height: 19.84px;
}
.testimonial-pagination {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 38px;
}
.pagination-arrow {
  background-color: white;
  border-radius: 74px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.carousel-visibility{
  display: none;
}
.testimonial-carousel{
  justify-content: center;
  padding-top: 20px;
}


/*======================================= Get Started Section  ========================================================*/

.get-started-section {
  background-color: rgba(4, 42, 116, 1);
  padding: 86px 0px;
  margin-top: 80px;
}
.get-started-section-heading {
  font-size: var(--section-heading-font);
  font-weight: var(--boldFontWeight);
  text-align: center;
  line-height: 44.65px;
  color: white;
}
.get-started-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 56px;
}
.get-started-btn {
  padding: 20px 40px;
  font-size: 16px;
  line-height: 19.84px;
}
.trial_btn {
  background-color: rgba(4, 42, 116, 1);
  border: 1px solid white;
}

/*========================================== Footer Section  ===========================================================*/

footer {
  padding: 64px 0px;
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-address-ul {
  width: 24%;
}
.footer-col-head {
  font-size: 16px;
  font-weight: var(--boldFontWeight);
  line-height: 20px;
  margin-bottom: 8px;
}
.footer-col-item {
  font-size: 16px;
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
}
.footer-contact {
  line-height: 24px;
}
.footer-address {
  line-height: 24px;
  margin-bottom: 4px;
}
